<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Inicio de sesión</h2>
        <form method="POST">
            <label>Ingresa tu nombre:</label>
            <input type="text" name="usuario" required>

            <label>Ingresa tu contraseña:</label>
            <input type="password" name="password" required>

            <button type="submit">Verificar</button>
        </form>

        {% if mensaje %}
        <div class="resultado">
            <p>{{ mensaje }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>